<div class= "donut-body">
<h1 class= "site-title">Donut Judge Me</h1>
<div class="crop">
  <img src="https://goo.gl/C0h5mO" alt="yum-town-usa" class="header-img"/>
</div>
<% @donuts.each do |donut| %>
  <ul>
    <li>
      <%= link_to "#{donut.name}", donut_path(donut) %>
    </li>
  </ul>
<% end %>

<%= link_to "Add New Donut", new_donut_path, class: 'add-link' %>
</div>
