/*
*= require_tree
*= require_self
*= require foundation_and_overrides
*/
@import url(https://fonts.googleapis.com/css?family=Righteous|Imprima|Antic|Muli);
body {
  background-color: #d6dbe0;
}

nav.top-bar, .sticky {
  background-color: white;
}

nav.top-bar {
  a {
    font: 'Imprima';
  }
}

.top-bar {
  width: 100%;
  margin: 0;
}
