/*
*= require_tree
*= require_self
*= require foundation_and_overrides
*/
@import url(https://fonts.googleapis.com/css?family=Righteous|Imprima|Antic|Muli);
body {
  background-color: #F2F3EF;
}

nav.top-bar, .sticky {
  background-color: #6E6460;
  opacity: 0.7;
  color: white;
}

nav.top-bar {
  a {
    color: white;
    font: 'Imprima';
  }
}
