//= require_tree
//= require_self
//= require foundation_and_overrides

$body-color: #d6dbe0;
$white: #ffffff;

@import url(https://fonts.googleapis.com/css?family=Righteous|Imprima|Antic|Muli);

body {
  background-color: $body-color;
}

.top-bar,
.sticky {
  background-color: $white;
}

.top-bar {
  margin: 0;
  width: 100%;
  a {
    font: "Imprima";
  }
}
