$body-color: #d6dbe0;
$white: #ffffff;

@import url(https://fonts.googleapis.com/css?family=Righteous|Imprima|Antic|Muli);

body {
  background-color: $body-color;
}

.top-bar,
.sticky {
  background-color: $body-color;
}

.top-bar {
  height: 60px;
  margin: 0;
  width: 100%;

  .sign-links {
    font-family: "Righteous";
    margin: 10px;
  }
}
