$shadow: #ed5aa0;

$title-font-color: #d6dbe0;

.site-title {
  color: $title-font-color;
  font-family: "Muli";
  font-size: 80px;
  font-weight: 800;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.add-donut-link {
  font-family: "Righteous";
  color: $shadow;
  text-align: center;
  font-size: 20px;
  margin: 100px;

}

.add-vendor-link {
  font-family: "Righteous";
  color: $shadow;
  text-align: center;
  font-size: 20px;
  margin: 100px;
}

.crop {
  background-image: url("assorted-donuts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  overflow: hidden;
  padding: 0;
  max-width: 100%;
  margin-bottom: 30px;
}

.shadow {
  left: -3px;
  position: relative;
  text-shadow: 1px 1px $shadow,
              2px 2px $shadow,
              3px 3px $shadow,
              4px 4px $shadow,
              5px 5px $shadow,
              6px 6px $shadow;
  top: -3px;
}

.add-new-links {
  text-align: center;
}

.donut-list {
  list-style-type: none;
  font-size: 25px;
  text-align: center;
  margin-top: 25px;
  font-family: "Muli";
}

h1 {
  text-align: center;
}

.add-donut-link {
  background-color: white;
  padding: 10px;
  border: 2px solid #13BDE1;
}

.add-vendor-link {
  background-color: white;
  padding: 10px;
  border: 2px solid #13BDE1;
}

.user-signs {
  background-color: white;
  padding: 10px;
  border: 2px solid #13BDE1;
  font-family: "Righteous";
  color: $shadow;

}

.sign-links {
  margin: 10px;

}

.top-bar {
  margin: 5px;
}
